<h1>Hello World</h1>

<%= link_to root_path do %>
  <i class="fas fa-home" href="#"></i>
<% end %>

<%= link_to courses_path, class:"btn btn-success" do %>
  <i class="fas fa-file-word" href="#"></i>
  Courses
<% end %>
